<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Coffee Search</title>
  <link href="css/results.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="l-wrap">
  <h1 class="heading">Results For:<br>{{location}}</h1>
  <div class="result-container">
    {{{results}}}
    <a href="/" id="search-again">search again</a>
  </div>
</div>
</body>
</html>


<!--
<body>
  <h1>Results For:<br>location</h1>

  <div class="result-container">
    <div class="result">
      <h2></h2>
      <p></p>
      <p></p>
    </div>
    <div class="result">
      <h2></h2>
      <p></p>
      <p></p>
    </div>
    <a href="/">search again</a>
  </div>

</body>-->
