<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Coffee Search</title>
  <link href="css/results.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
    window.addEventListener('load', function() {
      var touchsupport = ('ontouchstart' in window) || (navigator.maxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0);
      if (!touchsupport) {
        document.documentElement.className += "non-touch";
      }
    });
  </script>
</head>
<body>
<div class="l-wrap">
  <h1 class="heading">Coffee Near:<br>{{location}}</h1>
  <div class="result-container">
    {{{results}}}
    <a href="/" id="search-again" class="phone-and-search">search again</a>
  </div>
</div>
</body>
</html>
