<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Coffee Search</title>
  <link href="search.css" rel="stylesheet">
</head>
<body>

<h1>Results</h1>

<div>{{{results}}}</div>



</body>
</html>
