<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Coffee Search</title>
  <link href="search.css" rel="stylesheet">
</head>
<body>
  <h1>Results For:<br>{{location}}</h1>
  <div>{{{results}}}</div>
  <a href="/">search again</a>
</body>
</html>
