html, body, div, h1, h2, p, a,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  font-size: 1em;
  font-style: serif;
  background: #eeeeee;
}

.l-wrap, body {
  width: 100%;
}

h1 {
  font-size: 1.8em;
  color: #3b5998;
  margin: 30px auto;

}

h2 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: 8px;
}

a {
	text-decoration: none;
}

.heading {
  text-align: center;
}

.result {
	margin: 0 10% 10% 10%;
  text-align: left;
  font-size: .8em;
}

.result-container {
	padding-top: 20px;
	padding-bottom: 30px;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 420px;
  background: #3b5998;
  color: #eeeeee;
}

#search-again {
  text-align: center;
  display: block;
}

.phone-number {
	display: block;
	margin-top: 5px;
}

/*link back to search page*/
#search-again:link {color: #eeeeee; }
#search-again:visited {color: #eeeeee; }
#search-again:focus {color: #eeeeee; }
#search-again:hover {color: #000000; }
#search-again:active {color: #eeeeee; }

/*link of each search result*/
.result-link:link {color: #000000; }
.result-link:visited {color: #A9A9A9; }
.result-link:focus {color: #eeeeee; }
.result-link:hover {color: #eeeeee; }
.result-link:active {color: #000000; }

/*phone number link for each result*/
.phone-number:link {color: #eeeeee; }
.phone-number:visited {color: #eeeeee; }
.phone-number:focus {color: #eeeeee; }
.phone-number:hover {color: #000000; }
.phone-number:active {color: #eeeeee; }
